body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
}

.navbar-brand {
    color: rgb(231, 0, 0) !important;
    text-shadow: none !important;
    padding: 10px;
    font-family: 'Courgette', cursive;
    font-size: 27px;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

nav.navbar {
    width: 100%;
	border-radius: 0px;
    background: white;
    border: none;
}

ul.navbar-nav li a {
    text-transform: uppercase;
    text-shadow: none !important;
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
}

ul.navbar-nav li a:hover {
    color: #9d9d9d !important;
    text-decoration: underline;
}

ul.navbar-nav li a:visited {
    color: #9d9d9d !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background: black !important;
}

.navbar-right {
    margin-right: 0px;
}

.dropdown-toggle {
    cursor: pointer;
}

.container {
    margin-top: 110px;
    margin-bottom: 100px;
    text-align: center;
    width: 70%;
}

img.headshot {
    border-radius: 80px;
}

ol {
    width: 200px;
    margin: 0px auto;
}

a {
    color: #08f;
    font-weight: bold;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}

.page-text {
    text-align: justify;
}