body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

body * {
	box-sizing: border-box;
}

.container {
	margin: 0px auto;
	width: 970px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h1, h2 {
	font-weight: 200;
}

nav {
	height: 50px;
	background: black;
}

nav ul, nav li {
	display: inline;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

nav li {
	margin: 0px 10px;
}

nav a {
	color: #eee;
	text-decoration: none;
}

.active-link {
	color: #fff;
}

.left-links {
	float: left;
}

.right-links {
	float: right;
}

.profile-form {
	width: 100%;
	display: inline-flex;
}

.labels {
	display: inline;
	width: 15%
}

.labels label {
	margin: 24px 30px 24px 0px;
	font-weight: bold;
	display: block;
	text-align: right;
}

.input-fields {
	display: inline;
	width: 85%
}

.input-fields input {
	margin: 10px 0px;
	width: 100%;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.flat-button {
	color: white;
	background: #337ab7;
	border: 1px solid #2e6da4;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	box-shadow: none;
	cursor: pointer;
}

#add-button {
	background: #449d44;
	border-color: #398439;
}

.icon-button {
	width: 38px;
	height: 38px;
}

.courses-created-table {
	width: 100%;
	border-collapse:collapse;
}

.courses-created-table tr {
	height: 40px;
}

.courses-created-table td, th {
	text-align: center;
	padding: 5px;
}

.courses-created-table td:first-child, th:first-child {
	text-align: left;
}

.courses-created-table td:last-child, th:last-child {
	text-align: right;
}

.courses-created-table tbody tr:nth-child(odd) {
	background: #f9f9f9;
	border: solid #d8d8d8;
	border-width: 2px 0px;
}